:root{
    --color-principal: #2d2d2d;
    --color-secundario: #2d2d2d;
    --color-boton: #a40c9c;
    --color-texto: #ffffff;
    --color-nota: #a156a3c5;
}
@font-face {
    font-family: 'nunito-black';
    src: url(../storage/font/Nunito/Nunito-Black.ttf);
}
@font-face {
    font-family: 'nunito';
    src: url(../storage/font/Nunito/Nunito-Regular.ttf);
}
